<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-readwise</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>33E46D89-2530-4074-AC50-0C96FDA808EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37AB99A4-161A-48DE-A1FC-3DEBF8A0AE79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37AB99A4-161A-48DE-A1FC-3DEBF8A0AE79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B458E45-D472-45A6-9D1E-FB6D1E718532</string>
				<key>modifiers</key>
				<integer>393216</integer>
				<key>modifiersubtext</key>
				<string>Open all highlights from this book on Readwise</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6AC51F37-B4C7-49A2-A939-B692F85C0578</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3BA3AB51-3B00-430F-8575-297174A2BF86</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open in Readwise</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EC7ED109-7D3E-4ECF-986A-043151DB7901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56834D1D-55F4-4D51-B8E7-A128C0049C6B</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Show large font without closing Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>56834D1D-55F4-4D51-B8E7-A128C0049C6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE712F62-FBAB-42A3-9DDA-CAAA2EA1F6DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>578F2DF9-BCC0-4EFF-BF2B-251A238DCAAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D93264C-C597-4BB0-92BD-6144D2819B3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E887995-44A7-443C-B49C-E560F3057907</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C9CF47B-DCA0-44AD-904D-E030DB556EBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC8986DF-8CE6-476F-AEC6-60DD01FC0DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4F8B71F-C0EB-4675-9CAF-424BBAE41A4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E887995-44A7-443C-B49C-E560F3057907</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6EBFFF6-0A4B-4F13-B835-7E60BE6999CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC7ED109-7D3E-4ECF-986A-043151DB7901</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C9CF47B-DCA0-44AD-904D-E030DB556EBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F7794B6E-A86A-43A2-B5F2-78BB13170523</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E738C0BD-F1EA-48D3-AEDB-81E988E43700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>A Workflow for your Readwise account</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alfred-readwise</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6AC51F37-B4C7-49A2-A939-B692F85C0578</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:myURLall}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2B458E45-D472-45A6-9D1E-FB6D1E718532</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:refreshkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait while I refresh... ⏳</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 readwise-rebuild.py
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>refresh Readwise database 👀</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>87446133-7FDD-4169-BD42-4A428AEC2F39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:myURL}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3BA3AB51-3B00-430F-8575-297174A2BF86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Create a new Readwise highlight</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5D93264C-C597-4BB0-92BD-6144D2819B3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E6EBFFF6-0A4B-4F13-B835-7E60BE6999CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 readwise_post.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E887995-44A7-443C-B49C-E560F3057907</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>please wait while I refresh the database... ⏳</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
export PYTHONPATH="$PWD/lib"
python3 readwise-query.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List your Readwise highlights</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>readwise-query</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>37AB99A4-161A-48DE-A1FC-3DEBF8A0AE79</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Georgia</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:fullOutput}</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>AC8986DF-8CE6-476F-AEC6-60DD01FC0DC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>33E46D89-2530-4074-AC50-0C96FDA808EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:fullOutput}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F4F8B71F-C0EB-4675-9CAF-424BBAE41A4E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>6C9CF47B-DCA0-44AD-904D-E030DB556EBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:myStatus}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>completed</string>
						<key>outputlabel</key>
						<string>output</string>
						<key>uid</key>
						<string>F7794B6E-A86A-43A2-B5F2-78BB13170523</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>recursive</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EC7ED109-7D3E-4ECF-986A-043151DB7901</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>readwise-query</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E738C0BD-F1EA-48D3-AEDB-81E988E43700</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Georgia</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:fullOutput}</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DE712F62-FBAB-42A3-9DDA-CAAA2EA1F6DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:fullOutput}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>578F2DF9-BCC0-4EFF-BF2B-251A238DCAAB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>56834D1D-55F4-4D51-B8E7-A128C0049C6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-readwise
## An Alfred Workflow for your [Readwise](https://readwise.io/) account
![](alfred-readwise.png)
Complete readme [here](https://github.com/giovannicoppola/alfred-readwise/blob/main/README.md)

# Motivation ✅

- Quickly list, search, and open your Readwise highlights
- Add new highlights to your account through Alfred

# Setting up ⚙️

### Needed
- Alfred 5 with Powerpack license
- A [Readwise](https://readwise.io) license
- Python3 (howto [here](https://www.freecodecamp.org/news/python-version-on-mac-update/))
- Download `alfred-readwise` [latest release](https://github.com/giovannicoppola/alfred-readwise/releases/latest)

## Default settings 
- In Alfred, open the 'Configure Workflow' menu in `alfred-readwise` preferences
	- set the keyword for the workflow (default: `!r`)
	- set the keyword to force refresh (default: `readwise:refresh`)
	- set the Readwise API token (login into your account, then copy it [here](https://readwise.io/access_token))
	- set what to show in results: `books`, `tweets`, `supplementals`, `articles`, `podcasts`
	- set refresh rate (in days). Default: `30`
	- set 'book' name from highlights entered via Alfred. Default: `Highlights from Alfred`
	- set search scope:
		- `Highlight`: search highlight text only
		- `Book`: search book titles only
		- `Both` (default): search across highlights and book titles


# Basic Usage 📖

## Searching your Readwise database 🔍
- launch with keyword (default: `!r`), or custom hotkey
- standard search will be through highlight text and book titles. Multiple word (fragments) supported
- typing `#` will prompt a label search which can be added to the standard search, multiple labels supported
	- `enter` ↩️ will show the highlight in large font and copy to clipboard
	- `shift-enter` ⇧↩️ will show the highlight in large font and copy to clipboard without closing Alfred
	- `command-enter` ⌘↩️ will open the source URL if available (typically for tweets)
	- `ctrl-enter` ^↩️ will open the highlight on Readwise
	- `shift-ctrl-enter` ⇧^↩️ will open all highlights from that book on Readwise


## Entering new highlights ⭐
- Universal Action: new highlights can be created by selecting text in any app, then launching Universal Actions and selecting `Create a new Readwise highlight`. The corresponding text will be assigned to a 'book' titled as set in `alfred-readwise` preferences (default: `Highlights from Alfred`).


## Database refresh 🔄
- will occur according to the rate in days set in `alfred-readwise` preferences, or...
	- `readwise:refresh` to force database refresh</string>
	<key>uidata</key>
	<dict>
		<key>2B458E45-D472-45A6-9D1E-FB6D1E718532</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>33E46D89-2530-4074-AC50-0C96FDA808EC</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>37AB99A4-161A-48DE-A1FC-3DEBF8A0AE79</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>3BA3AB51-3B00-430F-8575-297174A2BF86</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>56834D1D-55F4-4D51-B8E7-A128C0049C6B</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>578F2DF9-BCC0-4EFF-BF2B-251A238DCAAB</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
		<key>5D93264C-C597-4BB0-92BD-6144D2819B3E</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>6AC51F37-B4C7-49A2-A939-B692F85C0578</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>6C9CF47B-DCA0-44AD-904D-E030DB556EBA</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>87446133-7FDD-4169-BD42-4A428AEC2F39</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>8E887995-44A7-443C-B49C-E560F3057907</key>
		<dict>
			<key>note</key>
			<string>Create a new card</string>
			<key>xpos</key>
			<real>1240</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>AC8986DF-8CE6-476F-AEC6-60DD01FC0DC1</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>DE712F62-FBAB-42A3-9DDA-CAAA2EA1F6DC</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>E6EBFFF6-0A4B-4F13-B835-7E60BE6999CB</key>
		<dict>
			<key>xpos</key>
			<real>1480</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>E738C0BD-F1EA-48D3-AEDB-81E988E43700</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>EC7ED109-7D3E-4ECF-986A-043151DB7901</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>F4F8B71F-C0EB-4675-9CAF-424BBAE41A4E</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>!r</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>readwise:refresh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Refresh the alfred-readwise database</string>
			<key>label</key>
			<string>Force refresh keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>refreshkeyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Login into your account, then copy at https://readwise.io/access_token</string>
			<key>label</key>
			<string>Readwise token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>READWISE_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show articles?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Articles</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>ARTICLES_CHECK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show books?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Books</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>BOOKS_CHECK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show tweets?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Tweets</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>TWEETS_CHECK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show podcasts?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Podcasts</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>PODCASTS_CHECK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show supplementals?</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Supplementals</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>SUPPLEMENTALS_CHECK</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>in days</string>
			<key>label</key>
			<string>Refresh rate</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>RefreshRate</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Highlights from Alfred</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Name of the 'book' containing highlights collected through Alfred</string>
			<key>label</key>
			<string>Title for new highlights</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>NEW_HIGH_TITLE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Both</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Highlight</string>
						<string>Text</string>
					</array>
					<array>
						<string>Book title</string>
						<string>Book</string>
					</array>
					<array>
						<string>Both</string>
						<string>Both</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Search across highlight text, book title, or both.</string>
			<key>label</key>
			<string>Search Scope</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>SEARCH_SCOPE</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.3</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-readwise</string>
</dict>
</plist>
